.botao {
    cursor: pointer;
    display: block;
    /* display: inline-block; */
    width: 140px;
    height: 140px;
    background-image: URL("img/urso_3.jpeg");;
    background-repeat: no-repeat;
    background-size: 140px, 140px;
    border-radius: 50%;
    transition: all 1s;
    /* margin: 15 10 20 10; */
    margin: 10 auto;
    box-shadow: 0 0 0px 2px black;
}

.botao > i {
    font-size: 130px;
    position: relative;
    left: 0;
    top: 5;
    color: black; 
    opacity: 0.5;
    text-shadow: 0 2px 0px rgba(253, 253, 253, 0.5),
                 2px 0 0px rgba(253, 253, 253, 0.5),
                 -2px 0 0px rgba(253, 253, 253, 0.5),
                 0 -2px 0px rgba(253, 253, 253, 0.5);
}

.botao:active {
    transform: scale(0.8);
}

.botaoD {
    text-align: center;
    color: gold;
    box-shadow: 0 0 0px 2px rgba(255, 215, 0, 0.5);
}

.botaoD > i {
    color: gold;
    text-shadow: 0 1px 0px rgba(253, 253, 253, 0.8),
                 1px 0 0px rgba(253, 253, 253, 0.8),
                 -1px 0 0px rgba(253, 253, 253, 0.8),
                 0 -1px 0px rgba(253, 253, 253, 0.8);
}

.botaoD ~ .desc {
    color: yellow;
    background: none !important;
}

.susto {
    background: url('img/urso_18.png');
    background-repeat: inherit;
    background-size: auto;
}